<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/manifest.json" crossorigin="use-credentials"> -->
    <!-- <link rel="icon" type="image/png" href="./favicon.ico"> -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">  -->

    <title>SubtitlePlus</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/product.css" rel="stylesheet">
  </head>

  <body>

    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/?id=private-ntleymiy6" onclick="javascript:event.target.port=5000">Subtitle Edit</a>
        <a class="py-2 d-none d-md-inline-block" href="/oneclick">One Click</a>
        <a class="py-2 d-none d-md-inline-block" href="/register">Subtitle Request</a>
        <a class="py-2 d-none d-md-inline-block" href="/mldata">Machine Learning Dataset</a>
        <a class="py-2 d-none d-md-inline-block" href="/export">Merge</a>
        <a class="py-2 d-none d-md-inline-block" href="/upload">Upload</a>
      </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Subtitle Plus</h1>
        <p class="lead font-weight-normal">An integrated tool that helps subtitle group makes subtitle so that audience from around the world can watch those fantastic videos.</p>
        <a class="btn btn-outline-secondary" href="/oneclick">Try our demo!</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block" style="color:white;">
        <br><img src="{{ url_for('static', filename='../static/pic/chat.jpg') }}" alt="logo" style="width:279px;height:400px;">
        <br>
      </div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block" style="color:black;">
        <br><br><br><br><br><br><br><br><br>
        <img src="{{ url_for('static', filename='../static/pic/logo.jpg') }}" alt="logo" style="width:240px;height:84px;">
        <h4>Make subtitle creation process easier with one simple click.</h4>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Avoid copyright issue</h2>
          <p class="lead">You can directly talk to the original content creator from here</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;color:black;">
          <br>
          <img src="{{ url_for('static', filename='../static/pic/order.jpg') }}" alt="logo" style="width:90%;height:90%;">
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Highly integrated</h2>
          <p class="lead">ONE click, and we'll take care of the rest</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;color:white;">
          <h4>Don't have a high performance computer for merging?</h4>
          <h4>Not having enough member in your group to accomplish the different task?</h4>
          <h4>Don't worry, we're here to help. With our high performance computing resources on the cloud, things have never been easier than just one simple click!</h4>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Collaborative Editing</h2>
          <p class="lead">Now you don't have to wait, let's edit together</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;color:white;">
          <h4>Collaboration matters the most. Together, we can produce high quality content!</h4>
          <img src="{{ url_for('static', filename='../static/pic/collaboration.jpg') }}" alt="logo" style="width:70%;height:70%;">
        </div>
      </div>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Contribute to the future</h2>
          <p class="lead">Generate dataset for machine learning</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;color:black;">
          <h4>The Machine Learning community will appreciate your contribution.</h4>
          <img src="{{ url_for('static', filename='../static/pic/common.jpg') }}" alt="logo" style="width:80%;height:80%;">
        </div>
      </div>
    </div>

    <!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div> -->

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2022</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/oneclick">One Click</a></li>
            <li><a class="text-muted" href="/register">Subtitle Request</a></li>
            <li><a class="text-muted" href="/mldata">Machine Learning Dataset</a></li>
            <li><a class="text-muted" href="/export">Merge</a></li>
            <li><a class="text-muted" href="/upload">Upload</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>ML resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://commonvoice.mozilla.org/en">Common Voice</a></li>
            <li><a class="text-muted" href="https://research.google.com/colaboratory/">Google Colab</a></li>
            <li><a class="text-muted" href="https://www.kaggle.com/">Kaggle</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Thanks to</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://getbootstrap.com/">Bootstrap</a></li>
            <li><a class="text-muted" href="https://github.com/ankeetmaini/collaborative-text-editor">Online Collaboration Text Editor</a></li>
            <li><a class="text-muted" href="https://pusher.com/">Pusher</a></li>
            <li><a class="text-muted" href="https://cloud.google.com/">Google Cloud</a></li>
            <li><a class="text-muted" href="https://github.com/Aegisub/Aegisub">Aegisub</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/team">Team</a></li>
            <li><a class="text-muted" href="/loc">Locations</a></li>
            <li><a class="text-muted" href="/license0">License</a></li>
          </ul>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script> -->
  </body>
</html>
