<!DOCTYPE html>
<html lang="en">
<head>
    <title>SubtitlePlus</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel = "stylesheet" href = "../static/styles/tab.css">
</head>
<body>
    <div class="topnav">
        <a href="/?id=private-ntleymiy6" onclick="javascript:event.target.port=5000">Subtitle Edit</a>
        <a href="/oneclick" onclick="javascript:event.target.port=80">One Click</a>
        <!-- <a class="active" href="#">Subtitle Request</a> -->
        <a href="/register" onclick="javascript:event.target.port=80">Subtitle Request</a>
        <a class="active" href="#">Machine Learning Dataset</a>
        <!-- <a href="/mldata" onclick="javascript:event.target.port=80">Machine Learning Dataset</a> -->
        <!-- <a class="active" href="#">Merge</a> -->
        <a href="/export" onclick="javascript:event.target.port=80">Merge</a>
        <a href="/upload" onclick="javascript:event.target.port=80">Upload</a>
    </div>

    <div class="container">

        <br>
        
        <h1>Contribute to common voice open source dataset</h1> 
        
        <br>
        
        <form action="/mldata_submit" method="POST" id = "form" enctype="multipart/form-data">
			
            <div class="form-group">
				<label>Video file</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input" name="video" id="video">
					<!-- <label class="custom-file-label" for="image">Select Image</label> -->
				</div>
			</div>

			<div class="form-group">
				<label>Subtitle file</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input" name="subtitle" id="subtitle">
					<!-- <label class="custom-file-label" for="image">Select Image</label> -->
				</div>
			</div>

            <label for="category">Choose subtitle type</label>
            <select name="category" id="category">
                <option value="0">SRT - SRT files are simple text files used along with video data, and contain no video or audio data.</option>
                <option value="1">LRC - LRC (short for LyRiCs) is a computer file format that synchronizes song lyrics with an audio file, such as MP3, Vorbis or MIDI.</option>
                <option value="2">SBV - SBV file is used to add subtitles or closed captions to a YouTube video.</option>
            </select>

            <div class="form-group">
                <button type="submit" value="Submit" class="btn btn-primary">
                    Submit video and subtitle
                </button>
            </div>

        </form>
        

    </div>

</body>
</html>