<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="/createUser" method="POST" id = "form" enctype="multipart/form-data">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please register/sign in</h1>
      
	  <label for="fname" class="sr-only">First Name</label>
      <input type="text" class="form-control"  name="fname" id="fname"  placeholder="First Name" autofocus>
      
	  <label for="lname" class="sr-only">Last name</label>
      <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name">
    
    <label for="userID" class="sr-only">User ID</label>
      <input type="password" name="userID" id="userID" class="form-control" placeholder="User ID">
    
    <!-- <label>(Optional)Select image for Profile</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="image" id="image" type="email">
      </div> -->

	  <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </body>
</html>
