body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header__h1 {
  margin: 20px;
  padding: 10px;
  color: #424242;
}

.doc .doc__background-ribbon {
  height: 200px;
  background: #3F51B5;
}

/* .doc .doc__text-editor {
  width: 60%;
  min-height: 50px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: -150px;
  font-size: 24px;
} */


/* #video1 {
  width: 60%;
  min-height: 50px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: -150px;
} */
/* #myVideo {
  display: block;
  margin: 0 auto;
} */



.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  top: -150px;
  width: 30%;
  float: left;
  padding: 20px;
  border: 2px solid rgb(43, 177, 171);
} 

/* below for timing textbox */
#sub1{  
  width: 70%;
  /* height: 50px; */
  min-height: 200px;
  background: #fff;
  margin: 0 auto;
  /* position: relative; */
  top: -150px;
  font-size: 24px;
  border: 2px solid black;
}

#sub2{  
  width: 70%;
  /* height: 50px; */
  min-height: 200px;
  background: #fff;
  margin: 0 auto;
  /* position: relative; */
  top: -150px;
  font-size: 24px;
  border: 2px solid black;
}

.doc__text-editor {
  width: 100%;
  /* height: 50px; */
  min-height: 200px;
  background: #fff;
  margin: 0 auto;
  /* position: relative; */
  top: -150px;
  font-size: 24px;
  border: 2px solid black;
  float: left;
}